.workbench{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }

@media (min-width: 1140px) {
    .square {
width: 10vw !important;
height: 10vw !important;
}

}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

h1{
    font-family: "Workbench", sans-serif;
    padding: 15px;
}

.wrap {
width: 100vw;
height: 100%;
overflow: hidden;
display: flex;
}
.sidebar {
background-color:#3b2f14;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
flex-grow: 1;

}

.sidebar h1{
    font-size: 25px;
    
}


.content {
display: flex;
flex-direction: column;
background-color: #3f2618;
flex-grow: 1;
}
.square-container {
    padding-top: 10px;
overflow-y: scroll;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 10px 1px;

}
.square {
border-radius: 20%;
background: #aa9d7c;
width: 10vw;
height: 10vw;
justify-self: center;
align-self: center;
transition: 1s;
}
.square:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 50px 5px #1c934f inset, 5px 5px 50px 5px #2e8353;
    
}

.milMundos:hover{
    box-shadow: 5px 5px 50px 5px #032a74 inset, 5px 5px 50px 5px #032a74;
}

.historiasFrustradas:hover{
    box-shadow: 5px 5px 50px 5px #b63f76aa inset, 5px 5px 50px 5px #b63f76aa;
}

.heitorwave:hover{
    box-shadow: 5px 5px 50px 5px #1c934f inset, 5px 5px 50px 5px #0c2917;
}

.eQuente:hover{
    box-shadow: 5px 5px 50px 5px #06150c inset, 5px 5px 50px 5px #2e8353;
}

.moicano:hover{
    box-shadow: 5px 5px 50px 5px #06150c inset, 5px 5px 50px 5px #2e8353;
}

.square img{ 
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20%;
}

.top-block {

display: flex;
align-items: center;
justify-content: center;
}
